Current filter: {{ filter }}
<li><a href="" ng-click="changeFilterTo('oneOrMore')">one or more</a></li>
<li>custom <input ng-model="search.points" ng-click="changeFilterTo('choice')"/></li>
<ul class="photos" style="list-style: none">

  <li ng-repeat="photo in photos | filter:filters | exact:search" class="photo" style="margin-bottom: 20px">

    <div>
     points: {{ photo.points }}
    </div>
    <img
      bn-lazy-src="{{ photo.src }}"
      width="150"
      height="150"
      alt="Loading ..."
      />
    <div>
    <a href="">{{ photo.src }}/</a>
    </div>

  </li>

</ul>